{% extends 'base.html' %}
{% load crispy_forms_tags%}

    {% block title %}
    <h1>SETTINGS</h1>
    {% endblock %}
    
    {% block content %}

    <main>
        <section class="box">
          <form  method="POST" action="." encryption="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
              <p >
                {{ field.label_tag }}<br>
                {{ field }}
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              </p>
              {% endfor %}
            <input type="submit" value="Save Changes" class="btn">
          </form>
      </section>
    </main>

    {% endblock %}
