{% extends 'base.html' %}

    {% block title %}
    <h1>HELP</h1>
    {% endblock %}
    
    {% block content %}
    <main>
        <section class="box">
        <div class="settings">
          <h1> Help </h1> 
        </div>
        <p> URSpaces utilizes subforums to allow users to find relevant posts related to what they are searching for or similarly to post themselves and comment on 
          related topics. 
          Each subforum found on the main page will bring about numerous posts. To get an idea of what a post may be about, please look at the title of the post. 
          From there, if a post catches one's attention, click on it to get the entire post and be able to comment by scrolling past other comments and inputting 
          in the comment section.
          <br><br>
          To create one's post, find the appropriate subforum from the home page and click the create post button in the top right corner 
          to bring down a menu for creating your post in the subforum. Make sure your post has a title and text for the post itself.
          <br><br>
          In order to like a post or comment, simply click on the like button on a post, to unlike, click the like button again to remove the like.
          <br><br>
          To change your bio, click on settings on the left sidebar to go and change your bio. 
          Clicking on your user name will take you to a page where you can see your name, bio and view all the posts you have made below.
        </p>
      </section>
    </main>
    {% endblock %}

