{% extends 'base.html' %}


    {% block title %}
    <h1>{{forum.sub_name}}</h1>
    {% endblock %}
    {% block content %}

    <main>

      {%if moderator is None%}
      <button onclick="reveal()", type="submit", name="createPost", value="createPost" class="post-btn">Create New Post</button>
      {%endif%}
  <div id = "reveal" style="display: none">
      <form action="." method="POST"   onsubmit="return validatePost()">
        {% csrf_token %}
        <section class="box">
        <div class="post-item">
          <p> Post Header: </p> 
        </div>
        <div class="post-item">
          <textarea name="newHeader" cols="100" placeholder="Add post header..."></textarea>
        </div>
        <div class="post-item">
          <p> Contents: </p>
        </div>
        <div class="post-item">
          <textarea name="newContents"  cols="130" rows="3" placeholder="Input text here..."></textarea>
        </div>
        
        <div class="post-item">
          <input type="submit" value="Submit" name="newPost_form">
        </div>
      </section>
    </form>
  </div>

      {% for field in pinnedPosts %}
        <section class="box" >
          {%if moderator is not None%}
          <form action="{% url 'subforum_pin' forum.slug field.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="unpinPost" value="unpinPost" class="btn ">Unpin Post</button>
          </form>
          {% endif %} 

        <div class="post-item"> 
          {%if  field.User_ID.User_ID.username  == request.user.username%}
                <a href="{% url 'profile' %}" class="name"> {{field.User_ID.User_ID.username}}  </a>
          {%else%} 
                <a href="{{field.User_ID.get_url}}" class="name"> {{field.User_ID.User_ID.username}}  </a>
          {% endif %} 
            <span class="date"> {{field.post_date}} </span>
        </div>
        <div class="post-item">
          <a href="{{field.get_url}}" class="item2"> {{field.post_name}}  </a>
          </div>
        <div class="post-item">
          <span> {{field.contents}}</span>
        </div>
        <div class = "like-item">
          <form action="{% url 'post_like' field.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="post_id" value="{{field.id}}" class="btn btn-info">Like</button> - {{ field.total_likes }} Likes
          </form>
          <a href="{{field.get_url}}"> Comments: {{field.num_comments}} </a>
      </section>
      {% endfor %}

      
      {% for field in unpinnedPosts%}
        <section class="box" >
          {%if moderator is not None%}
          <form action="{% url 'subforum_pin' forum.slug field.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="pinPost" value="pinPost" class="btn ">Pin Post</button>
          </form>
          {% endif %}
        <div class="post-item"> 
          {%if  field.User_ID.User_ID.username  == request.user.username%}
                <a href="{% url 'profile' %}" class="name"> {{field.User_ID.User_ID.username}}  </a>
          {%else%} 
                <a href="{{field.User_ID.get_url}}" class="name"> {{field.User_ID.User_ID.username}}  </a>
          {% endif %} 
            <span class="date"> {{field.post_date}} </span>
        </div>
        <div class="post-item">
          <a href="{{field.get_url}}" class="item2"> {{field.post_name}}  </a>
          </div>
        <div class="post-item">
          <span> {{field.contents}}</span>
        </div>
        <div class = "like-item">
          <form action="{% url 'post_like' field.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="post_id" value="{{field.id}}" class="btn btn-info">Like</button> - {{ field.total_likes }} Likes
          </form>
          <a href="{{field.get_url}}"> Comments: {{field.num_comments}} </a>
      </section>
      {% endfor %}

    </main>
    {% endblock %}
