
{% extends 'base.html' %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>UR Spaces</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/1d7b5c0471.js" crossorigin="anonymous"></script>
</head>

<body>
  <script src="script.js"></script>
  <div id="container">
    <header>
      <a href="{% url 'index' %}" class="title">UR Spaces</a>
      <h1>ABOUT</h1>
    </header>

    <aside id="aside">
      <div class="user-panel">
        <i class="fa-regular fa-circle-user"></i><a href="user.html"> Username </a> 
        <i class="fa-solid fa-gear"></i><a href="setting.html"> Settings </a>
        <i class="fa-solid fa-arrow-right-from-bracket"></i><a href="login.html"> Log out </a>
      </div>
    </aside> -->
    {% block title %}
    <h1>ABOUT</h1>
    {% endblock %}
    
    {% block content %}
    <main>
        <section class="box">
        <div class="settings">
          <h1> About </h1> 
        </div>
        <p> Welcome to UR Spaces. Team U of Argo created this website for CS476 in the Fall semester of 2023. This website is intended to help students with their 
          needs at the University of Regina in order to provide an easy and accessible way for them to easily ask questions, answer them for other students, and also to
          connect more with their community.
        </p>
      </section>
    </main>
    {% endblock %}

    <!-- <footer>
      <a href="help.html">Help</a>
      <a href="service.html">Terms of Service</a>
      <a href="about.html">About</a>
    </footer>
  </div>
</body>
</html> -->
