{%load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>UR Spaces</title>
        <link rel="stylesheet" href="{%static 'style.css' %}"/>
        <script src="https://kit.fontawesome.com/1d7b5c0471.js" crossorigin="anonymous"></script>
    </head>

  <body>
    <div id="container">
        <header>
          <a href="{% url 'index' %}" class="title">UR Spaces</a>
          {% block title %}
          {% endblock %}
        </header>

        <aside id="aside">
          <div class="user-panel">
            <i class="fa-regular fa-circle-user"></i><a href="{% url 'profile' %}"> Username </a> 
            <i class="fa-solid fa-gear"></i><a href="{% url 'setting' %}"> Settings </a>
            <i class="fa-solid fa-arrow-right-from-bracket"></i><a href="{% url 'logout' %}">Log out </a>
          </div>
        </aside>
    {% block content %}
    {% endblock %}

    <footer>
        <a href="{% url 'help' %}">Help</a>
        <a href="{% url 'service' %}">Terms of Service</a>
        <a href="{% url 'about' %}">About</a>
      </footer>
    </div>
  </body>
</html>