<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>UR Spaces</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/1d7b5c0471.js" crossorigin="anonymous"></script>
</head>
    
<body>
  <script src="script.js"></script>
  <div id="container">
    <header>
      <a href="{% url 'index' %}" class=title>UR Spaces</a>
      <h1>HOME</h1>
    </header>
      
    <aside id="aside">
      <div class="user-panel">
        <i class="fa-regular fa-circle-user"></i><a href="user.html"> Username </a> 
        <i class="fa-solid fa-gear"></i><a href="setting.html"> Settings </a>
        <i class="fa-solid fa-arrow-right-from-bracket"></i><a href="{% url 'logout' %}">Log out </a>
      </div>
    </aside>
      
    <main>
        <section class="forums">
        <div class="forum-item">
            <h2> Forums </h2>
        </div>
        <div class="forum-item">
          <a href="posts.html"> General Forum </a> 
          <span> Topics: 10 </span>
        </div>
        <div class="forum-item">
          <a href="#"> Help Forum </a> 
          <span> Topics: 12 </span>
        </div>
        <div class="forum-item">
          <a href="#"> Class Recommendations </a> 
          <span> Topics: 20 </span>
        </div>
        <div class="forum-item">
          <a href="#"> Events </a> 
          <span> Topics: 7 </span>
        </div>
        <div class="forum-item">
          <a href="#"> Meet and Greet </a> 
          <span> Topics: 15 </span>
        </div>
        <div class="forum-item">
            <a href="#"> Class Discussion </a> 
            <span> Topics: 6 </span>
        </div>
        <div class="forum-item">
            <a href="#"> Welcome Week </a> 
            <span> Topics: 11 </span>
        </div>
      </section>
    </main>
      
    <footer>
      <a href="help.html">Help</a>
      <a href="service.html">Terms of Service</a>
      <a href="about.html">About</a>
    </footer>
  </div>
</body>
</html>
