{% extends 'base.html' %}
    {% block title %}
    <h1>Posts</h1>
    {% endblock %}
    
    {% block content %}
    <main>
        <section class="box">
        <div class="forum-item">
            <a href="user.html"> Username </a>
            <span> October 23, 2023 11:56 </span>
        </div>
        <div class="forum-item">
          <span> Post Contents </span>
        </div>
        <div class="post-item">
          <input type="button" value="Likes: 10" class="btn1"><i class="fa-regular fa-heart"></i>
          <a href="#"> Comments: 5 </a>
          <input type="button" value="Delete Post" class="btn2">
          <input type="button" value="Ban User" class="btn2">
      </section>
        
        <section class="sub-box">
            <div class="forum-item">
                <a href="user.html"> Username </a>
                <span> October 23, 2023 11:56 </span>
            </div>
            <div class="forum-item">
              <span> Comments Contents </span>
            </div>
            <div class="post-item">
              <input type="button" value="Likes: 10" class="btn1"><i class="fa-regular fa-heart"></i>
              <input type="button" value="Delete Comment" class="btn2">
              <input type="button" value="Ban User" class="btn2">
          </section>
    </main>
    {% endblock %}
