{% extends 'base.html' %}
    {% block title %}
    <h1>Post</h1>
    {% endblock %}
    
    {% block content %}
    <main>

      {%if moderator is  not None%}
      <button  type="submit", name="lockPost", value="lockPost">Lock Post</button>
      {%endif%}
      <!-- Display Post -->
        <section class="box">
        <div class="forum-item">
          {%if  post.User_ID.User_ID.username  == request.user.username %}
            <a href="{% url 'profile' %}"> {{post.User_ID.User_ID.username}} </a>
          {%else%}
            <a href="{{post.User_ID.get_url}}"> {{post.User_ID.User_ID.username}} </a>
          {% endif%}
            <span> {{post.post_date}} </span>
        </div>
        <div class="forum-item">
          <span> {{post.post_name}} </span>
        </div>
        <div class="forum-item">
          <span> {{post.contents}} </span>
        </div>
        <div class="post-item">
          <input type="button" value="Likes: 10" class="btn1"><i class="fa-regular fa-heart"></i>
          <p> Comments: {{post.num_comments}} </p>

          <!-- Post Buttons available-->
          {%if  post.User_ID.User_ID.username  == request.user.username or moderator is not None%}
          <form action="." method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete Post" class="btn2" name="deletePost_btn" >
          </form>
          {% endif %}

          {%if moderator is None %}
            {%if  post.User_ID.User_ID.username  == request.user.username %}
            <input onclick="reveal()", type="button" value="Edit Post" class="btn2">
            {%else%}
              {%if post.reported == False%} 
                <form action="." method="POST" id="reportPostForm">
                {% csrf_token %}
                <input type="submit" value="Report Post" class="btn2" name="reportPost_btn">
                </form>
                {%else %}
                <div class="forum-item">
                  <p style="color: red">Post Reported</p>
                </div>
                {% endif %}

            {% endif %}
          {%else %}
          <form action="{% url 'report_update' post.id %}" method="POST" >
            {% csrf_token %}
            <input type="submit" name="banUserPost_btn" value="Ban User" class="btn2">
          </form>
          {% endif %}

          <!-- Edit Post -->
          <div id = "reveal" style="display: none">
          <form action="." method="POST">
            {% csrf_token %}
            <section class="box">
            <div class="forum-item">
              <p> Edit Contents: </p>
            </div>
            <div class="forum-item">
              {{form.contents}}
            </div>
            {% if error %}
            <div class="forum-item">
                    <p style="color: red">Content cannot be blank.</p>
            </div>
            {%endif%}
            
            <div class="forum-item">
              <input type="submit" value="Submit" name="editPost_form">
            </div>
          </section>
        </form>
      </div>

      </section>

      <!-- Display Comments -->        
      {% for field in comments %}
        <section class="sub-box">
            <div class="forum-item">
              {%if  field.User_ID.User_ID.username  == request.user.username%}
                <a href="{% url 'profile' %}"> {{field.User_ID.User_ID.username}}  </a>
                {%else%} 
                <a href="{{field.User_ID.get_url}}"> {{field.User_ID.User_ID.username}}  </a>
                {% endif %} 
                <span> {{field.com_date}} </span>
            </div>
            <div class="forum-item">
              <span> {{field.com_contents}} </span>
            </div>
            <div class="post-item">
              <input type="button" value="Likes: 10" class="btn1"><i class="fa-regular fa-heart"></i>
            </div>

            <!-- Comment Buttons available-->            
            {%if  field.User_ID.User_ID.username  == request.user.username or moderator is not None%}            
            <form action="{% url 'comment_update' post.slug  field.id %}" method="POST" id="deleteCommentForm">
            {% csrf_token %}
            <input type="submit" value="Delete Comment" class="btn2" name="deleteComment_btn">
            </form>
            {%endif%}

            {%if moderator is None %}
              {%if  field.User_ID.User_ID.username  == request.user.username%}
              <input type="button", onclick="revealComment('field{{field.id}}', 'field{{firstCommentId}}')", value="Edit Comment" class="btn2">
              {%else%}
                {%if field.reported == False%} 
                <form action="{% url 'comment_update' post.slug  field.id %}" method="POST" id="reportCommentForm">
                  {% csrf_token %} 
                <input type="submit" value="Report User" class="btn2" name="reportComment_btn">
                </form>
                {%else %}
                <div class="forum-item">
                  <p style="color: red">Comment Reported</p>
                </div>
                {% endif %}

              {% endif %}
            {%else %}
            <form action="{% url 'report_update' field.id  %}" method="POST" >
              {% csrf_token %}
              <input button type="submit" name="banUserComment_btn" value="Ban User" class="btn2">
            </form>
            {% endif %}


            <!-- Edit Comment -->  
              <form method="POST" action="{% url 'comment_update' post.slug field.pk %}" id="editCommentForm">
                {% csrf_token %}
                <div id = "field{{field.id}}" style="display: none">
                <section class="sub-box">
                <div class="forum-item">
                  <p> Edit Comment: </p>
                </div>
                <div class="forum-item">
                  {{commentform.com_contents}}

                </div>
                {% if error %}
                <div class="forum-item">
                        <p style="color: red">Comment cannot be blank.</p>
                </div>
                {%endif%}
                <div class="forum-item">
                  <input type="submit" value="Submit" name="editComment_form">
                </div>
              </section>
            </div>
            </form>
          
          </section>
          {% endfor %}

          <!-- Add Comment -->
          {%if moderator is None%}
          <form action="." method="POST">
            {% csrf_token %}
            <section class="sub-box">         
            <div class="forum-item">
              <textarea name="newContents"  cols="130" rows="3" placeholder="Input comment here..."></textarea>
            </div>
            <div class="forum-item">
              <input type="submit" value="Submit" name="newComment_form">
            </div>
          </section>
        </form>
        {%endif%}

    </main>
    {% endblock %}
