{% extends 'base.html' %}
    {% block title %}
    <h1>Post</h1>
    {% endblock %}
    
    {% block content %}
    <main>
        <section class="box">
        <div class="forum-item">
            <a href="{{post.User_ID.get_url}}"> {{post.User_ID.User_ID.username}} </a>
            <span> {{post.post_date}} </span>
        </div>
        <div class="forum-item">
          <span> {{post.post_name}} </span>
        </div>
        <div class="forum-item">
          <span> {{post.contents}} </span>
        </div>
        <div class="post-item">
          <input type="button" value="Likes: 10" class="btn1"><i class="fa-regular fa-heart"></i>
          <p> Comments: {{post.num_comments}} </p>
          {%if  post.User_ID.User_ID.username  == request.user.username%}
          <input type="button" value="Delete Post" class="btn2">
          <input type="button" value="Edit Post" class="btn2">
          {%else%}
          <input type="button" value="Report User" class="btn2">
          {% endif %}
      </section>

      <!-- <button type="submit", name="addComment", value="addComment">Add Comment</button> -->
        
      {% for field in comments %}
        <section class="sub-box">
            <div class="forum-item">
                <a href="{{field.User_ID.get_url}}"> {{field.User_ID.User_ID.username}}  </a>
                <span> {{field.com_date}} </span>
            </div>
            <div class="forum-item">
              <span> {{field.com_contents}} </span>
            </div>
            <div class="post-item">
              <input type="button" value="Likes: 10" class="btn1"><i class="fa-regular fa-heart"></i>
              {%if  field.User_ID.User_ID.username  == request.user.username%}
              <input type="button" value="Delete Comment" class="btn2">
              <input type="button" value="Edit Comment" class="btn2">
              {%else%}
              <input type="button" value="Report User" class="btn2">
              {% endif %}
          </section>
          {% endfor %}

          <form action="." method="POST">
            {% csrf_token %}
            <section class="sub-box">         
            <div class="forum-item">
              <textarea name="newContents"  cols="130" rows="3" placeholder="Input comment here..."></textarea>
            </div>
            <div class="forum-item">
              <input type="submit" value="Submit" name="newComment_form">
            </div>
          </section>
        </form>

    </main>
    {% endblock %}
