{% extends 'base.html' %}

    {% block title %}

      <h1>{{user.username}}</h1>
    {% endblock %}
    
    {% block content %}
    <main>
      <!-- not working correctly yet -->
    {% if student is not None %}
    
        <section class="box">
            <div class="forum-item">
                <h1> {{user.username}} </h1>
                <span> {{user.date_joined}}</span>
            </div>
            <div class="forum-item">
              <span> {{student.bio}}</span>
            </div>
          </section>

          {% for field in posts %}
            <section class="sub-box">
                <div class="forum-item">
                    <p> {{field.User_ID.User_ID.username}}</p>
                    <span> {{field.post_date}} </span>
                </div>
                <div class="forum-item">
                  <a href="{{field.get_url}}"> {{field.post_name}}  </a>
                  </div>
                <div class="forum-item">
                  <span> {{field.contents}}</span>
                </div>
            </section>
            {% endfor %}
            {%else%}
              <div class="forum-item">
                <p > This is a moderator profile. You have the ability to ban users, pin posts, 
                  lock posts, and delete unwanted content</p>
              </div>
            {%endif%}
    </main>
    
    {% endblock %}
