{% extends 'base.html' %}

    {% block title %}
    <h1>Reports</h1>
    {% endblock %}
    {% block content %}

    <main>



        <section class="box" >
        <h3>Reported users</h3>
            <!-- links for the user only-->
            <a href="https://www.w3schools.com/html/html_links.asp">username</a> 
              
        </section>
        <section class="box" >
            <h3>Reported Post</h3>
            <a href="https://www.w3schools.com/html/html_links.asp">post</a>

        </section>
        <section class="box" >
            <h3>Reported Comments</h3>
            <a class="R-links", href="https://www.w3schools.com/html/html_links.asp">comments</a>
        </section>
        
    </main>
  
    </main>

    {% endblock %}