<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>UR Spaces</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/1d7b5c0471.js" crossorigin="anonymous"></script>
</head>

<body>
  <script src="script.js"></script>
  <div id="container">
    <header>
      <a href="index.html" class="title">UR Spaces</a>
      <h1>TERMS OF SERVICE</h1>
    </header>

    <aside id="aside">
      <div class="user-panel">
        <i class="fa-regular fa-circle-user"></i><a href="user.html"> Username </a> 
        <i class="fa-solid fa-gear"></i><a href="setting.html"> Settings </a>
        <i class="fa-solid fa-arrow-right-from-bracket"></i><a href="login.html"> Log out </a>
      </div>
    </aside>

    <main>
        <section class="box">
        <div class="settings">
          <h1> Terms of Service </h1> 
        </div>
        <p> Using this website you agree to only post any pictures or text that is considered legal under law in your respective country. You consent to have any illegal content 
          that you post be reported to authorities.
          <br><br>
          Using this website you consent to your email address and password that is used with the website being stored in our database. This will not be used for any purpose
          beyond the website's functionality and may be removed at any time.
          <br><br>
          Using this website you consent that any information entered into this website will be stored on our databases, but can for any reason be deleted or removed without
          warning.
          <br><br>
          For inquiries, please e-mail us at: clg875@uregina.ca.
        </p>
      </section>
    </main>

    <footer>
      <a href="help.html">Help</a>
      <a href="service.html">Terms of Service</a>
      <a href="about.html">About</a>
    </footer>
  </div>
</body>
</html>
