{% extends 'base.html' %}

    {% block title %}
    <h1>{{forum.sub_name}}</h1>
    {% endblock %}
    {% block content %}

    <main>

      <!-- <form method="post" action="posts.html">
        {% csrf_token %}
            <button type="submit", name="newItem", value="newItem">Add Item</button>	
            <input type="text", name="new">
            <button type="submit", name="save", value="save">Save</button>
            <input type="button" value="Create New Post" class="btn2">
        </form> -->
      <button type="submit", name="createPost", value="createPost">Create New Post</button>

      <form action="." method="POST">
        {% csrf_token %}
        <section class="box">
        <div class="forum-item">
          <p> Post Header: </p> 
        </div>
        <div class="forum-item">
          <textarea name="newHeader" cols="100" placeholder="Add post header..."></textarea>
        </div>
        <div class="forum-item">
          <p> Contents: </p>
        </div>
        <div class="forum-item">
          <textarea name="newContents"  cols="130" rows="3" placeholder="Input text here..."></textarea>
        </div>
        <div class="forum-item">
          <input type="submit" value="Submit" name="newPost_form">
        </div>
      </section>
    </form>

      {% for field in post %}
        <section class="box">
        <div class="forum-item">   
          <a href="{{field.User_ID.get_url}}" > {{field.User_ID.User_ID.username}} </a>
            <span> {{field.post_date}} </span>
        </div>
        <div class="forum-item">
          <a href="{{field.get_url}}"> {{field.post_name}}  </a>
          </div>
        <div class="forum-item">
          <span> {{field.contents}}</span>
        </div>
        <div class="post-item">
          <input type="button" value="Likes: 10" class="btn1"><i class="fa-regular fa-heart"></i>
          <a href="posts.html"> Comments: {{field.num_comments}} </a>
          <input type="button" value="Delete Post" class="btn2">
          <input type="button" value="Report User" class="btn2">
      </section>
      {% endfor %}

    </main>
    {% endblock %}
