{% extends 'base.html' %}

    {% block title %}
      <h1>{{student.User_ID.username}}</h1>
    {% endblock %}
    
    {% block content %}
    <main>

    
        <section class="box">
            <div class="post-item">
                <p class="name1"> {{student.User_ID.username}} </p>
                <span class="date"> {{student.User_ID.date_joined}}</span>
            </div>
            <div class="post-item">
              <span> {{student.bio}}</span>
            </div>
            {%if moderator is  None%}
              {%if student.reported == False%}
              <form action="." method="POST" id="reportPostForm">
              {% csrf_token %}
              <div class="user-item">
              <input type="submit" value="Report User" class="btn2" name="reportUser_btn">
              </div>
              </form>
              {%else %}
              <div class="post-item">
              <p style="color: red">User Reported</p>
              </div>
              {% endif %}
            {%else %}
            <form action="{% url 'report_update' student.id %}" method="POST" >
              {% csrf_token %}
              <div class="user-item">
                <input type="submit" name="banUser_btn" value="Ban User" class="btn2">
              </div>
              </form>
            {% endif %}
          </section>

          {% for field in post %}
            <section class="sub-box">
                <div class="post-item">
                    <p class="name"> {{field.User_ID.User_ID.username}} </p>
                    <span class="date"> {{field.post_date}} </span>
                </div>
                <div class="post-item">
                  <a href="{{field.get_url}}" class="item2"> {{field.post_name}}  </a>
                  </div>
                  <div class="post-item">
                    <span> {{field.contents}} </span>
                  </div>
            </section>
            {% endfor %}
    </main>
    
    {% endblock %}
