{% extends 'base.html' %}

    {% block title %}
    <h1>{{user.username}}</h1>
    {% endblock %}
    
    {% block content %}

    <main>
        <section class="box">
            <div class="forum-item">
                <a> {{users.username}} </a>
                <span> {{users.date}}</span>
            </div>
            <div class="forum-item">
              <span> {{profile.bio}}</span>
            </div>
            <div class="user-item">
              <input type="button" value="Ban User" class="btn2">
          </section>

            <section class="sub-box">
                <div class="forum-item">
                    <a href="user.html"> Username </a>
                    <span> October 23, 2023 11:56 </span>
                </div>
                <div class="forum-item">
                  <span> Posts Contents </span>
                </div>
            </section>
    </main>
    {% endblock %}
